/** css content specific to Detica Changes */

.form-with-tooltips-width {
    width: 70%;
}

.radiobutton-list li.ticked .radiobutton-list li.ticked label:after {
  background-image: url("../tfl-ux/assets/oyster/Sprite_V3_x2.png");
  /* //background-image: url("../assets/oyster/Sprite_V3.png") \9; */
  background-size: 96px 2624px;
  background-position: -4px -1156px;
}
.styled-checkbox.ticked label:after{
	display:none;
}

table tr:nth-child(odd){
	background-color: transparent;
}

a.transparent-bgcolor{
	background-color: transparent;
}
a.zero-margin-bottom{
	margin-bottom: 0;
}
table.orderHistory-table tr{
	background-color: transparent !important;
}
table.orderHistory-table thead th{
	border-bottom: none;
	display:none;
}
.orderHistoryMessageContainer{
	padding:0em;
	padding-bottom: 1em;
}

